@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
 
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color:lightgrey;
    color: white;
}

#page {
    margin-left: 310px;
}
#maincontent {
    float: right;
    width: 100%;



}
#clearingdiv {
    clear: both;
}
#header {
    background-color:#514949;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    width:300px;
    float:left;
    padding: 5px;
    margin-left: -310px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
#flash, #notfound {
  float: right;
  font-size: 16px;
  color:white;
  font-weight: 900;
  width: 100%;
  text-align: center;
  background-color: #ffb84c;
  border-top: 2px solid #fb9c0c;
  border-bottom: 2px solid #fb9c0c;
  padding: 10px 20px 10px 20px;
}